    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Data</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want delete?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger mx-3" (click)="activeModal.dismiss('Close click')" (click)="deleteUser(id)">Delete</button>            
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">Cancel</button>
    </div>
