<div class="auth-wrapper modal-body column">
    <form class="form-signin" [formGroup]="form.inputData" (ngSubmit)="addUser()"> 
        <div class="form-group">
            <label>Card Owner Name</label>
            <input type="text" class="form-control" formControlName="cardOwnerName" name="cardOwnerName" id="cardOwnerName" placeholder="Full Name">
            <span style="color: red;" *ngIf="cardOwnerName && cardOwnerName.touched && cardOwnerName.invalid">
                Name is required min length is 5
            </span>
        </div>        
        <div class="form-group">
            <label>Card Number</label>
            <input type="text" class="form-control" formControlName="cardNumber" name="cardNumber" id="cardNumber" placeholder="16 Digit card number" (keypress)="isNumberKey($event)" maxlength = "16">
            <span style="color: red;" *ngIf="cardNumber && cardNumber.touched && cardNumber.invalid">
                16 Digit Number Required
            </span>
        </div> 
        <div class="row">
          <div class="form-group col">
              <label>Security Code</label>
              <input type="password" class="form-control" formControlName="securityCode" name="securityCode" id="securityCode" placeholder="Security Code" maxlength="3" minlength="3">
              <span style="color: red;" *ngIf="securityCode && securityCode.touched && securityCode.invalid">
                  Security Code 3 digit
              </span>
          </div>        
          <div class="form-group col">
              <label>Valide Through</label>
              <input type="date" class="form-control" formControlName="expirationDate" name="expirationDate" id="expirationDate" placeholder="MM/YY">
              <span style="color: red;" *ngIf="expirationDate && expirationDate.touched && expirationDate.invalid">
                  Input date
              </span>
          </div> 
        </div>
        <div>
            <button type="submit" class="btn btn-primary col-sm-12" style="margin-top: 1%;">Submit</button>
        </div>                  
    </form>
    
    <div class="my-toast">
        <ngb-toast 
          *ngIf="isToastShowing"
          class="my-fade"
          [autohide]="true"
          [delay]="2000"
          (hidden)="onToastHidden()">{{toastText}}</ngb-toast>
      </div>
</div>